.main {
  border-radius: 0.2rem 0.2rem;
}

.name {
  background-color: rgb(49, 159, 196);
  color: white;
  font-size: 1.5rem;
}

.headers {
  border-right: 2px solid lightgray;
  padding: 0.8rem 0.8rem;
}
