.message-container {
    margin-bottom: 10px;
  }
  
  .message-card {
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .message-body {
    padding: 10px;
  }
  
  .message-footer {
    background-color: #f7f7f7;
    padding: 5px 10px;
    font-size: 14px;
    text-align: right;
  }
  
  @media (max-width: 767px) {
    .message-card {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }