.container-fluid {
  width: 100%;
}

.d-flex.justify-content-center.align-items-center {
  height: 100%;
}

.menu-link {
  margin: 0 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.menu-link:hover {
  background-color: #f5f5f5;
}